/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: "Baloo Chettan 2", sans-serif;
    background-color: rgba(253, 206, 249, 0.65);
    height: 100vh;
}


/* Contenedor general */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: transparent; /* Fondo transparente para el contenedor */
}

/* Barra lateral */
.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sidebar .logo {
    width: 140px;
    margin-bottom: 60px;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar .menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
}

.sidebar .menu li:hover {
    background-color: rgba(232, 229, 229, 0.72);
    color: #000000;
    border-radius: 5px;
}

.sidebar .menu li.active {
    background-color: rgb(253, 206, 249);
    color: #000000;
    font-weight: normal;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar .menu li img {
    width: 30px;
    height: 30px;
}

.sidebar .logout {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos específicos para los enlaces de la barra lateral */
.sidebar a {
    text-decoration: none; /* Quitar subrayado en los enlaces */
    color: inherit; /* Usar el color definido por la barra lateral */
}

.sidebar a:hover {
    text-decoration: none; /* Mantener sin subrayado incluso al pasar el ratón */
    color: #000; /* Opcional: Cambiar el color al pasar el ratón */
}

.sidebar .menu li.active a {
    font-weight: bold; /* Resaltar el enlace activo */
    color: #000; /* Color negro para el enlace activo */
}

.sidebar .menu li.active {
    background-color: rgba(253, 206, 249, 0.71);
    color: #000000;
    font-weight: normal;
    font-size: 19px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar a img {
    vertical-align: middle; /* Asegurar alineación de imágenes dentro de los enlaces */
}

/* Enlaces globales fuera de la barra lateral */
body a {
    text-decoration: underline; /* Estilo predeterminado para enlaces globales */
    color: blue; /* Color predeterminado para enlaces globales */
}

body a:hover {
    color: darkblue; /* Color al pasar el ratón sobre enlaces globales */
}
.logout-link {
    --primary-color: #ec4040;
    --secondary-color: #fff;
    --hover-color: rgb(17, 17, 17);
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color) !important; /* Forzar el color blanco */
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    text-decoration: none; /* Asegura que no haya subrayado */
}

/* Asegúrate de que el color en estado hover también sea blanco */
.logout-link:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color) !important; /* Forzar blanco al pasar el ratón */
}

.logout-link .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.logout-link .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.logout-link:hover {
    background-color: var(--hover-color);
}

.logout-link:hover .arrow {
    background: var(--secondary-color);
}

.logout-link:hover .arrow::before {
    right: 0;
}

/* Contenedor de búsqueda y botones */
.search-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 20px auto;
}

.rating {
    align-content: center;
    align-items: center;
    display: inline-block;
    justify-content: center; /* Centra las estrellas horizontalmente */
    gap: 5px; /* Espaciado entre estrellas */
    margin-top: 10px; /* Añade un margen superior */
}
.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
}

.rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 20px;
    fill: #666;
}

.rating:not(:checked) > label > svg {
    fill: #666; /* Set default color for SVG */
    transition: fill 0.3s ease; /* Add a transition effect */
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    fill: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    fill: #ff9e0b;
}

.rating > input:checked ~ label > svg {
    fill: #ffa723; /* Set color for selected stars */
}
/* Contenedor principal */
.content {
    flex: 1; /* Permite que el contenido ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}
/* Contenedor principal */
.book-container {
    flex: 1; /* Asegura que ocupe todo el espacio disponible */
    width: 100%; /* Ocupa el ancho completo */
    max-width: 1200px; /* Limita el ancho máximo */
    height: 100%; /* Asegura que el contenedor blanco ocupe la altura completa */
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Activa el scroll vertical interno */
}


/* Grid de libros */
.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajuste dinámico */
    gap: 20px; /* Espaciado entre elementos */
}

/* Cada libro */
.book-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: relative;
}

/* Imagen de la portada */
.cover {
    width: 120px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}

/* Información del libro */
.book-info {
    font-size: 14px;
    color: #333;
}

.book-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.book-author,
.book-rating {
    margin: 5px 0;
}

/* From Uiverse.io by adamgiebl */
.cssbuttons-io-button {
    align-self: center; /* Asegura que el botón se centre horizontalmente */
    margin-top: 10px; /* Añade espacio entre el botón y los elementos superiores */
    width: fit-content;
    background: #fdcef9;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #eab0e5;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 0.001em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #eab0e5;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 2em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #eab0e5;
}
.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}


/* Botón "Más" */
.main__action a{
    position: absolute; /* Posicionamos relativo al contenedor de la tarjeta */
    top: 10px; /* Espacio desde la parte superior */
    right: 10px; /* Espacio desde la parte derecha */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
    color: rgba(28, 28, 30, 1);
    text-decoration: none;
}

/* <main-style> ============================ */
.main__scroll-text {
    color: rgba(28,28,30,1);
    text-decoration: none;
}

.main__action:hover .main__scroll-box {
    animation: scroll-down 3s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down {
    0%, 100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    35% {
        transform: translateY(1rem);
        opacity: 0;
    }

    70% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}
/* From Uiverse.io by alexruix */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}





