

/* Barra lateral fija */
.sidebar {
    flex-shrink: 0; /* Evitar que cambie de tamaño */
    width: 250px; /* Ancho fijo */
    height: 100%; /* Ocupa toda la altura */
    background-color: #fff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed; /* Asegura que quede siempre a la izquierda */
    left: 0;
    top: 0;
    /*z-index: 1000;*/
    overflow-y: auto; /* Scroll vertical si es necesario */
}

.sidebar .logo {
    width: 140px;
    margin-bottom: 60px;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar .menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
}

.sidebar .menu li:hover {
    background-color: rgba(232, 229, 229, 0.72);
    color: #000000;
    border-radius: 5px;
}

.sidebar .menu li.active {
    background-color: rgba(220, 215, 215, 0.29);
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar .menu li img {
    width: 30px;
    height: 30px;
}

.sidebar .logout {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/* Estilos específicos para los enlaces de la barra lateral */
.sidebar a {
    text-decoration: none; /* Quitar subrayado en los enlaces */
    color: inherit; /* Usar el color definido por la barra lateral */
}

.sidebar a:hover {
    text-decoration: none; /* Mantener sin subrayado incluso al pasar el ratón */
    color: #000; /* Opcional: Cambiar el color al pasar el ratón */
}

.sidebar .menu li.active a {
    font-weight: bold; /* Resaltar el enlace activo */
    color: #000; /* Color negro para el enlace activo */
}

.sidebar .menu li.active {
    background-color: rgba(220, 215, 215, 0.29);
    color: #000000;
    font-weight: normal;
    font-size: 19px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar a img {
    vertical-align: middle; /* Asegurar alineación de imágenes dentro de los enlaces */
}

/* Enlaces globales fuera de la barra lateral */
body a {
    text-decoration: underline; /* Estilo predeterminado para enlaces globales */
    color: blue; /* Color predeterminado para enlaces globales */
}

body a:hover {
    color: darkblue; /* Color al pasar el ratón sobre enlaces globales */
}

