<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special Reads</title>
    <link rel="stylesheet" href="/css/readingJournalStyle.css">
    <link rel="shortcut icon" href="/images/img.png" />
    <script src="/js/modal.js" defer></script>
</head>
<body>
<div class="container">
    <!-- Barra lateral -->
    <aside class="sidebar">
        <img src="/images/logo.png" alt="Special Reads Logo" class="logo">
        <ul class="menu">
            <li>
                <a href="/indexUser">
                    <img src="/images/iconMenu/home1.png" alt="Home Icon"> Home
                </a>
            </li>
            <li>
                <a href="/iaReader">
                    <img src="/images/iconMenu/iareader1.png" alt="IA Reader Icon"> IA's Reader
                </a>
            </li>
            <li class="active">
                <a href="/journal">
                    <img src="/images/iconMenu/journal2.png" alt="Journal Icon"> Reading Journal
                </a>
            </li>
            <li>
                <a href="/bookShelf">
                    <img src="/images/iconMenu/bookshelf1.png" alt="Bookshelf Icon"> Bookshelf
                </a>
            </li>
            <li>
                <a href="/list">
                    <img src="/images/iconMenu/list1.png" alt="Lists Icon"> Tus Listas
                </a>
            </li>
            <li>
                <a href="/friends">
                    <img src="/images/iconMenu/friends1.png" alt="Friends Icon"> Amigos
                </a>
            </li>
            <li>
                <a href="/challenge">
                    <img src="/images/iconMenu/challenge1.png" alt="Challenges Icon"> Challenges
                </a>
            </li>


            <li>
                <a href="/ranking">
                    <img src="/images/iconMenu/ranking1.png" alt="Rankings Icon"> Rankings
                </a>
            </li>
            <li>
                <a href="/charts">
                    <img src="/images/iconMenu/estadisticas1.png" alt="Stats Icon"> Tus Estadísticas
                </a>
            </li>
            <li>
                <a href="/profile">
                    <img src="/images/iconMenu/profile1.png" alt="Profile Icon"> Perfil
                </a>
            </li>
            <li>
                <a href="/help">
                    <img src="/images/iconMenu/help1.png" alt="Help Icon"> Ayuda
                </a>
            </li>
        </ul>
        <a href="/cerrarSesion" class="logout-link">
            Cerrar Sesión
            <div class="arrow-wrapper">
                <div class="arrow"></div>
            </div>
        </a>
    </aside>
    <!-- Contenedor principal -->
    <div class="content">
        <!-- Barra de búsqueda -->
        <div class="search-and-buttons">
            <form action="/book/search" method="get">
                <div class="group">
                    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                    <input placeholder="Search" type="search" class="input">
                </div>
            </form>
            <div class="navigation-buttons">
                <button class="prev-button"><</button>
                <button class="next-button">></button>
            </div>
        </div>


        <!-- Contenedor del libro -->
        <div class="book-container">
            <div class="page left">
                <!-- Libros lado izquierdo -->
                <div class="book">
                    <div class="cover">
                        <img src="/images/alasNegras.jpeg" alt="Portada del libro">
                    </div>
                    <!--<div class="progress-bar">
                        <div class="progress" style="width: [[${book.progress}]]%;" th:text="${book.progress + '%'}"></div>
                    </div>-->
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;">70%</div>
                    </div>
                    <form action="/rate/{bookId}" method="post">
                        <div class="rating">
                            <input type="radio" id="libro1-star5" name="rate" value="5" />
                            <label for="libro1-star5" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro1-star4" name="rate" value="4" />
                            <label for="libro1-star4" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input checked="" type="radio" id="libro1-star3" name="rate" value="3" />
                            <label for="libro1-star3" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro1-star2" name="rate" value="2" />
                            <label for="libro1-star2" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro1-star1" name="rate" value="1" />
                            <label for="libro1-star1" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                        </div>
                    </form>
                </div>
                <!-- Modal de Progreso de Lectura -->
                <div id="readingProgressModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Progreso de lectura</h2>

                        <div class="progress-container">
                            <label for="progressType">Selecciona el tipo de progreso:</label>
                            <select id="progressType">
                                <option value="pages">Páginas</option>
                                <option value="percentage">Porcentaje</option>
                            </select>

                            <input type="text" id="progressInput">
                        </div>

                        <div class="modal-buttons">
                            <a class="pending-button">Pendiente</a>
                            <a class="read-button" href="/review">Terminado</a>
                        </div>
                    </div>
                </div>
                <div class="book">
                    <div class="cover">
                        <img src="/images/alasNegras.jpeg" alt="Portada del libro">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;">70%</div>
                    </div>
                    <form action="/rate/{bookId}" method="post">
                        <div class="rating">
                            <input type="radio" id="libro2-star5" name="rate" value="5" />
                            <label for="libro2-star5" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro2-star4" name="rate" value="4" />
                            <label for="libro2-star4" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input checked="" type="radio" id="libro2-star3" name="rate" value="3" />
                            <label for="libro2-star3" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro2-star2" name="rate" value="2" />
                            <label for="libro2-star2" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro2-star1" name="rate" value="1" />
                            <label for="libro2-star1" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                        </div>
                    </form>

                </div>
                <div class="book">
                    <div class="cover">
                        <img src="/images/alasNegras.jpeg" alt="Portada del libro">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;"> 70%</div>
                    </div>
                    <form action="/rate/{bookId}" method="post">
                        <div class="rating">
                            <input type="radio" id="libro3-star5" name="rate" value="5" />
                            <label for="libro3-star5" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro3-star4" name="rate" value="4" />
                            <label for="libro3-star4" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input checked="" type="radio" id="libro3-star3" name="rate" value="3" />
                            <label for="libro3-star3" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro3-star2" name="rate" value="2" />
                            <label for="libro3-star2" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro3-star1" name="rate" value="1" />
                            <label for="libro3-star1" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                        </div>
                    </form>

                </div>
                <div class="book">
                    <div class="cover">
                        <img src="/images/alasNegras.jpeg" alt="Portada del libro">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;">70%</div>
                    </div>
                    <form action="/rate/{bookId}" method="post">
                        <div class="rating">
                            <input type="radio" id="libro4-star5" name="rate" value="5" />
                            <label for="libro4-star5" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro4-star4" name="rate" value="4" />
                            <label for="libro4-star4" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input checked="" type="radio" id="libro4-star3" name="rate" value="3" />
                            <label for="libro4-star3" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro4-star2" name="rate" value="2" />
                            <label for="libro4-star2" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro4-star1" name="rate" value="1" />
                            <label for="libro4-star1" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                        </div>
                    </form>

                </div>
                <div class="book">
                    <div class="cover">
                        <img src="/images/alasNegras.jpeg" alt="Portada del libro">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;">70%</div>
                    </div>
                    <form action="/rate/{bookId}" method="post">
                        <div class="rating">
                            <input type="radio" id="libro5-star5" name="rate" value="5" />
                            <label for="libro5-star5" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro5-star4" name="rate" value="4" />
                            <label for="libro5-star4" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input checked="" type="radio" id="libro5-star3" name="rate" value="3" />
                            <label for="libro5-star3" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro5-star2" name="rate" value="2" />
                            <label for="libro5-star2" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro5-star1" name="rate" value="1" />
                            <label for="libro5-star1" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                        </div>
                    </form>

                </div>
                <div class="book">
                    <div class="cover">
                        <img src="/images/alasNegras.jpeg" alt="Portada del libro">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%;">100%</div>
                    </div>
                    <form action="/rate/{bookId}" method="post">
                        <div class="rating">
                            <input type="radio" id="libro6-star5" name="rate" value="5" />
                            <label for="libro6-star5" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro6-star4" name="rate" value="4" />
                            <label for="libro6-star4" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input checked="" type="radio" id="libro6-star3" name="rate" value="3" />
                            <label for="libro6-star3" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro6-star2" name="rate" value="2" />
                            <label for="libro6-star2" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro6-star1" name="rate" value="1" />
                            <label for="libro6-star1" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                        </div>
                    </form>

                </div>
                <div class="book">
                    <div class="cover">
                        <img src="/images/alasNegras.jpeg" alt="Portada del libro">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 25%;">25%</div>
                    </div>
                    <form action="/rate/{bookId}" method="post">
                        <div class="rating">
                            <input type="radio" id="libro7-star5" name="rate" value="5" />
                            <label for="libro7-star5" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro7-star4" name="rate" value="4" />
                            <label for="libro7-star4" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input checked="" type="radio" id="libro7-star3" name="rate" value="3" />
                            <label for="libro7-star3" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro7-star2" name="rate" value="2" />
                            <label for="libro7-star2" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro7-star1" name="rate" value="1" />
                            <label for="libro7-star1" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                        </div>
                    </form>

                </div>
                <div class="book">
                    <div class="cover">
                        <img src="/images/alasNegras.jpeg" alt="Portada del libro">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;">70%</div>
                    </div>
                    <form action="/rate/{bookId}" method="post">
                        <div class="rating">
                            <input type="radio" id="libro8-star5" name="rate" value="5" />
                            <label for="libro8-star5" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro8-star4" name="rate" value="4" />
                            <label for="libro8-star4" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input checked="" type="radio" id="libro8-star3" name="rate" value="3" />
                            <label for="libro8-star3" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro8-star2" name="rate" value="2" />
                            <label for="libro8-star2" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro8-star1" name="rate" value="1" />
                            <label for="libro8-star1" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                        </div>
                    </form>
                </div>
                <div class="book">
                    <div class="cover">
                        <img src="/images/alasNegras.jpeg" alt="Portada del libro">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;">70%</div>
                    </div>
                    <form action="/rate/{bookId}" method="post">
                        <div class="rating">
                            <input type="radio" id="libro9-star5" name="rate" value="5" />
                            <label for="libro9-star5" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro9-star4" name="rate" value="4" />
                            <label for="libro9-star4" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input checked="" type="radio" id="libro9-star3" name="rate" value="3" />
                            <label for="libro9-star3" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro9-star2" name="rate" value="2" />
                            <label for="libro9-star2" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro9-star1" name="rate" value="1" />
                            <label for="libro9-star1" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                        </div>
                    </form>
                </div>
                <!-- Repetir libros aquí -->
            </div>
            <div class="bookmark"></div>
            <div class="page right">
                <!-- Libros lado derecho -->
                <form action="/rate/{bookId}" method="post">
                    <div class="book">
                        <div class="cover">
                            <img src="/images/alasNegras.jpeg" alt="Portada del libro">
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;">70%</div>
                        </div>
                        <div class="rating">
                            <input type="radio" id="libro10-star5" name="rate" value="5" onchange="this.form.submit()"/>
                            <label for="libro10-star5" title="text">
                                <svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid">
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">

                                </path>
                                </svg>
                            </label>
                            <input type="radio" id="libro10-star4" name="rate" value="4" onchange="this.form.submit()"/>
                            <label for="libro10-star4" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input checked="" type="radio" id="libro10-star3" name="rate" value="3" onchange="this.form.submit()"/>
                            <label for="libro10-star3" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro10-star2" name="rate" value="2" onchange="this.form.submit()"/>
                            <label for="libro10-star2" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                            <input type="radio" id="libro10-star1" name="rate" value="1" onchange="this.form.submit()"/>
                            <label for="libro10-star1" title="text"
                            ><svg
                                    viewBox="0 0 576 512"
                                    height="1em"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="star-solid"
                            >
                                <path
                                        d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                                ></path></svg
                            ></label>
                        </div>

                    </div>
                </form>
                <!-- Repetir libros aquí -->
            </div>
        </div>


    </div>
</div>
</body>
</html>