<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special Reads</title>
    <link rel="stylesheet" href="/css/profileStyle.css">
    <link rel="shortcut icon" href="/images/img.png" />
</head>
<body>
    <div class="container">
        <!-- Barra lateral -->
        <aside class="sidebar">
            <img src="/images/logo.png" alt="Special Reads Logo" class="logo">
            <ul class="menu">
                <li>
                    <a href="/indexUser">
                        <img src="/images/iconMenu/home1.png" alt="Home Icon"> Home
                    </a>
                </li>
                <li>
                    <a href="/iaReader">
                        <img src="/images/iconMenu/iareader1.png" alt="IA Reader Icon"> IA's Reader
                    </a>
                </li>
                <li>
                    <a href="/journal">
                        <img src="/images/iconMenu/journal1.png" alt="Journal Icon"> Reading Journal
                    </a>
                </li>
                <li>
                    <a href="/bookShelf">
                        <img src="/images/iconMenu/bookshelf1.png" alt="Bookshelf Icon"> Bookshelf
                    </a>
                </li>
                <li>
                    <a href="/list">
                        <img src="/images/iconMenu/list1.png" alt="Lists Icon"> Tus Listas
                    </a>
                </li>
                <li>
                    <a href="/friends">
                        <img src="/images/iconMenu/friends1.png" alt="Friends Icon"> Amigos
                    </a>
                </li>
                <li>
                    <a href="/challenge">
                        <img src="/images/iconMenu/challenge1.png" alt="Challenges Icon"> Challenges
                    </a>
                </li>


                <li>
                    <a href="/ranking">
                        <img src="/images/iconMenu/ranking1.png" alt="Rankings Icon"> Rankings
                    </a>
                </li>
                <li>
                    <a href="/stats">
                        <img src="/images/iconMenu/estadisticas1.png" alt="Stats Icon"> Tus Estadísticas
                    </a>
                </li>
                <li class="active">
                    <a href="/profile">
                        <img src="/images/iconMenu/profile2.png" alt="Profile Icon"> Perfil
                    </a>
                </li>
                <li>
                    <a href="/help">
                        <img src="/images/iconMenu/help1.png" alt="Help Icon"> Ayuda
                    </a>
                </li>
            </ul>
            <a href="/cerrarSesion" class="logout-link">
                Cerrar Sesión
                <div class="arrow-wrapper">
                    <div class="arrow"></div>
                </div>
            </a>
        </aside>
        <div class="content">
            <!-- Contenido del perfil -->
            <div class="profile-container">
                <div class="profile-left">
                    <div class="profile-photo">
                        <img src="/images/iconoPerfil.png" alt="Foto de perfil">
                    </div>
                    <div class="profile-info">
                        <p><strong>Nombre de usuario:</strong> Almuuu_lpz</p>
                        <p><strong>Email:</strong> a.lopezro.2021@gmail.com</p>
                        <p><strong>Fecha de Nacimiento:</strong> 4/07/2003</p>
                        <p><strong>Descripción:</strong> Romantasy en vena, y si hay Enemys to Lovers ahí es!</p>
                        <p><strong>Géneros Favoritos:</strong></p>
                        <div class="tag-container">
                            <span class="tag">Romance</span>
                            <span class="tag">Fantasía</span>
                            <span class="tag">Psicología</span>
                        </div>
                    </div>
                    <div style="align-self: flex-start">
                        <button class="Btn">Editar
                            <svg class="svg" viewBox="0 0 512 512">
                                <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path></svg>
                        </button>
                    </div>
                </div>
                <div class="profile-right">
                    <img src="/images/hombreProfile.png" alt="Profile Illustration">
                </div>
            </div>
        </div>
    </div>
</body>
</html>